@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
 /*#899CA0 grijs/*
 /*#1C2B32 donkergroen/*
////////////////////////////////////////////////////////////////////////*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*////////////////////////
    1. Global Styles
////////////////////////*/
body {
    font-family: 'Poppins', sans-serif;
    color: #1C2B32;
}


/*////////////////////////
    2. Typography
////////////////////////*/


/*////////////////////////
    3. Areas
////////////////////////*/


/*///////////// 3.1 Header /////////////*/
header {
    background-image: url(../assets/images/mountains.jpg);
    background-size: 100%;
    background-position: 0 -60px;
    padding: 150px 0;
}

.title-intro p {
    margin: 15px 0;
}

h1 {
    font-size: 120px;
}

.title-intro {
    max-width: 1000px;
    margin: 30px auto;
    text-align: center;
}

.domain-name {
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-style: solid;
    border-color: #1C2B32;
    background-color: transparent;
    padding: 20px;
}

.check-domain {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-style: solid;
    border-color: #1C2B32;
    background-color: #1C2B32;
    color: white;
    margin: -7px;
    padding: 20px;
}

main {
    max-width: 1000px;
    margin: 30px auto;
}

h2 {
    text-align: center;
    margin: 40px 0 40px 0
}


/*///////////// 3.2 Testimonial /////////////*/
.testimonial {
    max-width: 1000px;
}

.portrait {
    position: absolute;
    width: 44px;
    border-radius: 50%;
    margin: 10 0 0 0;
}

.quote {
    margin: 40px 0;
    padding: 50px 80px 50px 80px;
    border-radius: 5px;
    box-shadow: #899CA0 0px 5px 15px;
}

.quote article {
    margin: 0 0 20px 50px;
    max-width: 800px;
}

.quote p {
    margin-bottom: 15px;
}

.quotation-mark {
    position: absolute;
}

span {
    display: inline-block;
    font-style: italic;
    margin: 10px 0 0 65px;
}

/*///////////// 3.3 Support /////////////*/

.contact-button {
    border-radius: 30px;
    border-style: solid;
    border-color: #1C2B32;
    background-color: #1C2B32;
    color: white;
    margin: 5px;
    padding: 20px;
}

.support p {
    margin: 15px 0;
}

.cal-image {
    max-width: 100%;
    border-radius: 10px;
}

/*///////////// 3.4 Faq /////////////*/
details {
    cursor: pointer
}

details > summary {
    padding: 15px;
}

details > p {
    background-color: hsl(199, 28%, 45%);
    border-radius: 5px;
    color: white;
    padding: 20px;
}


/*///////////// 3.5 Footer /////////////*/

footer {
    text-align: center;
    background-color: #1C2B32;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px
}
